<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Szkoła podstawowa Nr.2</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="<%= (active === 1) ? 'nav-item active ' : 'nav-item1'%>">
        <a class="nav-link" href="/availability">Sprawdź dostępność!</a>
      </li>
    </ul>
    <span class="navbar-text"><%= (logged === 1)? `Witaj ${user}` : ''%></span>
    <span class="navbar-text">
      <a class="nav-link" href="<%= (logged === 1)?'/logout' : '/login'%>"
        ><%= (logged === 1) ? 'Wyloguj się!' : 'Zaloguj się!'%></a
      >
    </span>
  </div>
</nav>
